.block-heading{
    color : #2F479B;
    margin-left: 18px;
    margin-bottom: 4px;
}
.button-submit-new{
    color: #fff;
    background-color: #2F479B !important;
    border-color: #2F479B !important;
}
.card-title{
    text-transform: none !important;
    color: #2F479B !important;
    font-weight: 500 !important;
    font-size: 20px !important;
}
.icon-box{
    border: #fff 1px solid;
}
.button-upload{
    border-color: #2F479B !important;
}
.button-margin{
    margin-right: 10px;
}
.text-margin{
    margin-bottom: 80px;
}
.text-heading-custom{
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #2F2E2E;
}