body {
  font-family: "capitana", sans-serif !important;

  .app-main .app-main__outer {
    max-height: calc(100vh - 120px);
    overflow-x: auto;
  }

  .app-main .container-row > .row {
    width: 100%;
  }

  .app-main .right-align {
    text-align: right;
  }

  .app-main .auto-margin {
    margin: auto;
  }

  .app-main .center-align {
    text-align: center;
  }

  .app-main .center-middle-align {
    min-height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-normal {
    text-transform: none !important;
    font-weight: normal !important;
    font-size: 14px;
  }

  .hand-cursor {
    cursor: pointer;
  }

  .no-click {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
  }

  .sweet-alert {
    z-index: 999999 !important;
  }

  .no-padding {
    padding: 0px;
  }

  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: unset;
  }

  /* HTML: <div class="loader"></div> */
  .loader-cust {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
  }
  .loader-cust::before,
  .loader-cust::after {
    content: "";
    grid-area: 1/1;
    --c: no-repeat radial-gradient(farthest-side, #052f5f 92%, #0000);
    background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
      var(--c) 0 50%;
    background-size: 12px 12px;
    animation: l12 1s infinite;
  }
  .loader::before {
    margin: 4px;
    filter: hue-rotate(45deg);
    background-size: 8px 8px;
    animation-timing-function: linear;
  }

  @keyframes l12 {
    100% {
      transform: rotate(0.5turn);
    }
  }
}

.cke_notification {
  display: none !important;
}

.pb-text {
  color: #052f5f;
}

.footer-dots .text-primary {
  color: #052f5f !important;
}

.footer-link {
  color: #052f5f;
}
