.async-border-red {
  .css-13cymwt-control {
    border-color: #d92550 !important;
  }
}
.async-error-text {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #d92550;
}
.editrow {
  cursor: pointer;
  color: #545cd8;
}
