.cand-card-view {
  .card-btn-grp {
    .btn {
      color: #2f479b !important;
      font-size: 14px !important;
      font-weight: 400 !important;
      font-family: capitana, sans-serif;
      border: 1px solid;
    }

    .btn:hover {
      background-color: #2f479b !important;
      color: #ffffff !important;
    }
  }

  p {
    margin-bottom: 4px;
  }
  .dropdown-menu::after {
    position: absolute;
    width: 14px;
    height: 14px;
    left: -6px;
    top: 30px;
    transform: rotate(45deg);
    border-radius: 4px;
    content: "";
    display: block;
    z-index: 5;
    background: #fff;
  }
  .dropdown-menu::before {
    background: #fff;
    position: absolute;
    width: 14px;
    height: 14px;
    left: -5px;
    top: 31px;
    transform: rotate(45deg);
    border-radius: 4px;
    content: "";
    display: block;
    z-index: 5;
  }
  .dropdown-menu{
    padding: 0 !important;
  }

}
