.cand-list-cont {
  .tab-info {
    background: rgba(253,253,253, 0.7);
    font-family: 'capitana', sans-serif;
    color: #979797;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    img {
      float: left;
      height: 45px;
      width: 45px;
      margin-right: 10px;
    }
  }
  .cust-btn-tabs {
    .active {
      background-color: #61d097 !important;
      color: #ffffff !important;
    }

    .btn-primary:hover {
      // background-color: #2f479b;
      color: #ffffff !important;
    }

    .btn-primary {
      color: #ffffff;
      font-weight: 500;
      font-size: 16px;
      background-color: #2f479b;
      font-family: capitana, sans-serif;
    }

    .card-btn-grp {
      .btn {
        color: #2f479b !important;
        font-size: 14px !important;
        font-weight: 400 !important;
        font-family: capitana, sans-serif;
        border-radius: 0px !important;
        border: 1px solid;
      }

      .btn:hover {
        background-color: #2f479b !important;
        color: #ffffff !important;
      }
    }
  }
}
