.cand-list-cont {
  .cust-btn-tabs {
    .active {
      background-color: #61d097 !important;
      color: #ffffff !important;
    }

    .btn-primary:hover {
      // background-color: #2f479b;
      color: #ffffff !important;
    }

    .btn-primary {
      color: #ffffff;
      font-weight: 500;
      font-size: 16px;
      background-color: #2f479b;
      font-family: capitana, sans-serif;
    }

    .card-btn-grp {
      .btn {
        color: #2f479b !important;
        font-size: 14px !important;
        font-weight: 400 !important;
        font-family: capitana, sans-serif;
        border-radius: 0px !important;
        border: 1px solid;
      }

      .btn:hover {
        background-color: #2f479b !important;
        color: #ffffff !important;
      }
    }
  }
}
