.schedule-modal {
  font-family: Capitana;
  .btn-primary {
    color: #fff;
    background-color: #2f479b;
    border-color: #2f479b;
  }
  .detail-padding {
    padding-top: 0.5rem !important;
    padding-bottom: 0.7rem !important;
  }
  .heading-custom {
    font-weight: 500;
    color: #2f2e2e;
  }
  .required-star {
    color: red;
  }
  .react-datepicker__aria-live{
    display: none;
  }
}
.pl-0 {
  padding-left: 0px !important;
}
.interview-details-modal {
  font-family: Capitana;
  // .btn-outline-primary {
  //     color: #2F479B !important;
  //     border-color: #2F479B !important;
  // }
  .dropdown-menu-header {
    color: #fff;
    margin-top: -0.65rem;
    margin-bottom: 0;
    position: relative;
    z-index: 6;
  }
  .interview-p-tag {
    color: #2f479b !important;
  }
  .dropdown-menu-header .dropdown-menu-header-inner {
    margin: -1px -1px 0;
    padding: 0.5rem 0.5rem 0 0.5rem;
    position: relative;
  }
  .p-custom {
    padding: 0.5rem 1rem;
  }
}
.mr-2 {
  margin-right: 5px;
}
.upcoming-interview {
  font-family: Capitana;
  .dropdown-menu-header {
    color: #fff;
    margin-top: -0.65rem;
    margin-bottom: 0;
    position: relative;
    z-index: 6;
  }
  .interview-p-tag {
    color: #2f479b !important;
  }
  .dropdown-menu-header .dropdown-menu-header-inner {
    margin: -1px -1px 0;
    padding: 0.5rem 0.5rem 0 0.5rem;
    position: relative;
  }
  .p-custom {
    padding: 0.5rem 1rem;
  }
}

.upcomming-card {
  .badge-custom {
    text-transform: none;
  }
  .icon-settings {
    margin-bottom: 4px !important;
  }
}
.candidate-schedule {
  .location-text {
    font-family: Capitana;
    vertical-align: text-top;
    font-size: 12px;
  }
  .interview-details-label {
    font-family: Capitana;
    font-size: 14px;
    font-weight: 600;
    color: #2e2f2f;
  }
  .location-icon {
    font-size: 20px;
    font-weight: 600;
  }
  .interview-details-title {
    font-family: Capitana;
    font-size: 16px;
    font-weight: 600;
    color: #2e2f2f;
  }

  .link-icon {
    height: 6px;
  }
  .copy-link-icon {
    height: 13px;
    cursor: pointer;
  }
  .success-message {
    font-size: 12px;
  }
}

.upcomming-card {
  .badge-custom {
    text-transform: none;
  }
  .icon-settings {
    margin-bottom: 4px !important;
  }
}

.update-availability {
  .react-datepicker__aria-live {
    display: none;
  }
  .react-datepicker__time-container
    .react-datepicker__time
    .react-datepicker__time-box
    ul.react-datepicker__time-list
    li.react-datepicker__time-list-item--selected {
    background-color: #2f479b !important;
    color: #fff;
    font-weight: bold;
  }
  .icon-color-red {
    color: red;
  }
  .icon-color-blue {
    color: #2f479b;
  }
}
