.forgot-password {
  .bg-plum-plate {
    background: url("../../assets/utils/images/login.png"), no-repeat,
      linear-gradient(
        180deg,
        rgba(47, 71, 155, 0) 0%,
        rgba(47, 71, 155, 0.9) 64.95%
      ) !important;
    background-size: 100% auto !important;
  }
  .slider-text {
    font-family: Capitana;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #ffffff;
  }
  .slider-title {
    font-family: Capitana;
    font-size: 31px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #ffffff;
  }
  .login-divider {
    width: 100% !important;
    height: 1px;
    background: #ced4da;
    margin-left: 0px;
  }
  .input-label {
    font-family: Capitana;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: left;
  }
  .error-text {
    font-family: Capitana;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #d92550;
    line-height: 16px;
    /* 123.077% */
    letter-spacing: -0.13px;
  }
  .div-logo {
    width: 968px;
    height: 1px;
    background: #ced4da;
  }

  .title-text {
    color: #2f479b;
    font-family: Capitana;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #2f479b;
  }
  .header-text {
    color: #2f479b;
    font-family: Capitana;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #2f479b;
  }

  .input-label {
    color: #2f2e2e;
    font-family: Capitana;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.14px;
  }

  .placeholder-text {
    color: #afaba5;
    font-family: Capitana;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 114.286% */
    letter-spacing: -0.14px;
    color: #afaba5;
  }
  .required-icon {
    color: #ff0000;
  }
  .account-text {
    color: #2f479b;
    font-family: Capitana;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    border-bottom: solid 1px;
    color: #2f479b;
  }
  .btn-text {
    color: #fff;
    font-family: Capitana;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 100% */
    letter-spacing: -0.16px;
    vertical-align: initial;
  }
  .text-field-input {
    height: 32px;
    align-items: flex-start;
    border-radius: 2px;
    border: 1px solid #ced4da;
    background: #fff;
    color: #afaba5;
  }
}
