.jd-covas-body {
  .error-div {
    background-color: #fff1f1;
    padding: 10px;
    border-radius: 8px;
    color: #ff406d;
    margin: 4px 0px;
  }

  .command-div-ext {
    text-align: -webkit-right;
    width: 100%;
    position: relative;
    margin: 4px 0px;
  }
  .command-div {
    background-color: #d9edff;
    padding: 10px;
    border-radius: 8px;
    color: #2f2e2e;
    text-align: end;
    width: fit-content;
  }

  .desc-div {
    margin: 4px 0px;
  }

  .canvas-jd-detail-div {
    max-height: 62vh;
    overflow: auto;
  }
}
