.registration-container {
  .slider-title {
    font-family: Capitana;
    font-size: 31px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #ffffff;
  }
  .bg-plum-plate {
    background: url("../../assets/utils/images/login.png"), no-repeat,
      linear-gradient(
        180deg,
        rgba(47, 71, 155, 0) 0%,
        rgba(47, 71, 155, 0.9) 64.95%
      ) !important;
    background-size: 100% auto !important;
  }
  .slider-content {
    font-family: Capitana;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #ffffff;
  }
  .input-label {
    font-family: Capitana;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: left;
  }

  .logo {
    width: 250px;
    top: 211px;
    left: 186px;
  }
  .login-divider {
    height: 1px;
    background: #ced4da;
    width: 100%;
  }

  .title-text {
    font-family: Capitana;
    font-size: 25px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: #2f479b;
  }
  .title-content {
    font-family: Capitana;
    font-size: 25px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: #2f479b;
  }

  .input-label {
    color: #2f2e2e;
    font-family: Capitana;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.14px;
  }

  .placeholder-name {
    color: #6c757d;
    font-family: Capitana;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }

  .account-text {
    color: #2f479b;
    font-family: Capitana;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }

  .btn-text {
    color: #fff;
    font-family: Capitana;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: left;
    padding: 12px, 20px, 12px, 20px;
    background: #2f479b;
  }
  .async-border-red {
    .css-13cymwt-control {
      border-color: #d92550 !important;
    }
  }
  .async-no-error {
    .css-13cymwt-control {
      border-color: hsl(0, 0%, 80%) !important;
    }
  }

  .async-error-text {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #d92550;
  }
}
.otp-link-label {
  color: #2b80fd !important;
  cursor: pointer;
  font-family: Capitana;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: right;
}
.grp-btn {
  border-radius: 5px;
}

.otp-header-text {
  color: #2e2f2f;
  font-weight: 600;
}
