.registrationsuccess-container {
  .logo {
    width: 246px;
    height: 100px;
    top: 200px;
    left: 156px;
  }

  .succese-text {
    font-family: Capitana;
    font-size: 25px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: #2f479b;
  }
  .success-msg {
    font-family: Capitana;
    font-size: 25px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: #2f2e2e;
  }
  .bg-plum-plate {
    background: url("../../assets/utils/images/login.png"), no-repeat,
      linear-gradient(
        180deg,
        rgba(47, 71, 155, 0) 0%,
        rgba(47, 71, 155, 0.9) 64.95%
      ) !important;
    background-size: 100% auto !important;
  }
  .btn-text {
    color: #fff;
    font-family: Capitana;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: left;
    padding: 12px, 20px, 12px, 20px;
    background: #2f479b;
  }
}
