.cust-cand-card {
  .card-title {
    font-family: Open Sans, sans-serif !important;
    font-size: 18px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #2f479b;
    margin-bottom: 4px;
  }

  .card-details {
    font-family: Capitana, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #2e2f2f;
  }

  .card-details-op {
    font-family: Capitana, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #afaba5;
    margin-bottom: 8px;
  }
  p {
    margin-bottom: 4px;
  }

  .card-footer {
    padding-left: 0px;
    padding-right: 0px;
  }

  .card-btn-grp {
    .btn {
      color: #2f479b !important;
      font-size: 14px !important;
      font-weight: 400 !important;
      font-family: capitana, sans-serif;
      border-radius: 0px !important;
      border: 1px solid;
    }

    .btn:hover {
      background-color: #2f479b !important;
      color: #ffffff !important;
    }
  }
}
