.score-popup{
    font-family: "Capitana";
    .nav-item-header-custom{
        color: var(--Font-dark-grey, #2F2E2E);
        font-family: Capitana;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .popup-width{
        width: 303px !important;
    }
    .popup-note{
        color: var(--grey, #979797);
        font-family: Capitana;
        font-size: 11px;
        font-style: italic;
        font-weight: 400;
        line-height: 16px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 16px;
        padding-bottom: 6px;
    }
    .counter{
        display: flex;
        padding: 4.2px 10px;
        align-items: center;
        border-radius: 100px;
        background: var(--theme-secondary, #6C757D);
        color: var(--gray-white, var(--White, #FFF));
        text-align: center;
        font-family: Capitana;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; /* 12px */
    }
}