
.message {
display: flex;
align-items: center;
}

.sent {
flex-direction: row-reverse;
}

.sent p {
color: white;
background: #0b93f6;
align-self: flex-end;
}
.received p {
background: #e5e5ea;
color: black;
}
.width-full{
    width: 100%;
}

.chat-layout .chat-box-wrapper {
     padding: 0.5rem !important;
}

.chat-box-wrapper {
    display: flex;
    clear: both;
    padding: 0.05rem !important;
}

.chat-heading{
    border-bottom: 1px solid rgba(32, 39, 140, 0.125);
    background-color: #e0f3ff;
}
.chat{
    .badge-custom{
        text-transform: none !important;
        font-weight: 300 !important;
    }
    
}

.scroll-area-lg{
    height: 485px !important;
    bottom: 0;
}

.chat-wrapper{
    margin-right: 10px;
}