.adm-cal-cont {
  .badge-color-yellow {
    color: rgb(250 219 145 / 20%);
    background-color: rgb(250 219 145 / 50%);
    border-color: rgb(250 219 145 / 50%);
  }
  .badge-color-green {
    color: rgb(137 222 178 / 20%);
    background-color: rgb(137 222 178 / 50%);
    border-color: rgb(137 222 178 / 50%);
  }
  .badge-color-red {
    color: rgb(255 143 143 / 20%);
    background-color: rgb(255 143 143 / 50%);
    border-color: rgb(255 143 143 / 50%);
  }
  .badge-color-skyblue {
    color: rgb(143 208 255 / 20%);
    background-color: rgb(143 208 255 / 50%);
    border-color: rgb(143 208 255 / 50%);
  }
  .badge-color-grey {
    color: rgb(202 202 202 / 20%);
    background-color: rgb(202 202 202 / 50%);
    border-color: rgb(202 202 202 / 50%);
  }
  .badge-color-darkblue {
    color: rgb(215 174 255 / 20%);
    background-color: rgb(215 174 255 / 50%);
    border-color: rgb(215 174 255 / 50%);
  }

  .rbc-agenda-event-cell {
    cursor: pointer;
  }

  .legend {
    display: inline-block;
  }
}
