.user-title {
  margin-left: calc(1.5rem + 60px);
  color: #2f2e2e;
  font-family: Capitana, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.message-box {
  height: 1.5em;
  width: 1.5em;
}

.header-app-logo {
  height: 48px;
  width: 200px;
}

@media only screen and (max-width: 1440px) and (min-width: 1024px) {
  .header-app-logo {
    height: 48px;
    width: 15vw;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 767px) {
  .header-app-logo {
    height: 48px;
    width: 200px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 0px) {
  .header-app-logo {
    display: none;
  }
}

