.appsidebar {
  .side-navigation-panel {
    padding: 16px;
    height: calc(100vh - 70px);
    min-width: 280px;
    .side-navigation-panel-select .side-navigation-panel-select-wrap {
      .side-navigation-panel-select-option-selected {
        background-color: #aad6ff;
        .side-navigation-panel-select-option-text {
          color: #2f479b !important;
        }
      }
      .side-navigation-panel-select-option:hover {
        background-color: rgb(170, 214, 255, 0.5);
      }
      .side-navigation-panel-select-option {
        border-left-width: 0px;
        padding: 12px 0px;
        .side-navigation-panel-select-option-wrap {
          padding-left: 8px !important;
        }
        .side-navigation-panel-select-option-text {
          margin-left: 4px !important;
          color: #2f2e2e;
          font-family: Capitana, sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
        }
      }
    }
  }
}
