.candidate-calendar{
    .rbc-toolbar button:active, .rbc-toolbar button.rbc-active {
        background-image: none;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        background-color: rgb(57, 193, 123);
        border-color: rgb(57, 193, 123);
    }
}