.apply-button{
    margin-right: 20px;
    margin-top: 13px;
    width: 100px;
    background: #2F479B !important;
}

.display-logo{
    width: 110px;
    margin-top: 10px;
}

.modal-body{
    padding-left: 1.6rem !important;
    padding-bottom: 1.6rem !important;
    padding-right: 1.6rem !important;
    padding-top: 1rem !important;
}

.submit-button{
    margin-left: 15px;
    width: 75px;
    background: #2F479B !important;
}

.cancel-button{
    width: 75px;
}

.modal-header{
    padding-left: 1.6rem !important;
    padding-bottom: 0.8rem !important;
    padding-right: 1.6rem !important;
    padding-top: 1rem !important;
    background: #fff;
}

.modal-title{
    font-weight: 500 !important;
}

.popup-message{
    font-size: 25px;
    font-weight: 600;
}
.margin-custom{
    margin-top: 50px;
}
.button-custom{
    width :60px;
    background-color : #2F479B !important;
}
.margin-custom-v2{
    margin-top: 10px;
}

.popup-message-content{
    color: #2F2E2E;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.popup-button-div-custom{
    margin-top: 10px;
}

.popup-button-custom{
    width: 60px;
    background: #2F479B !important;
}