.profile-view {
  .filter-info-text {
    font-family: Capitana;
    font-size: 10px;
    font-style: normal;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #2e2f2f;
  }
  .filter-error-msg {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #d92550;
  }
  .location-dropdown {
    z-index: 11;
  }
  .location-dropdown-education {
    z-index: 999;
  }
  .loader {
    margin: 0 auto !important;
    float: none;
  }
  .profile-img {
    min-width: 100px !important;
    min-height: 130px !important;
    margin: 0 1rem 0 0 !important;
    // &:hover {
    //   background-image: url("../../assets/utils/images/profile-pic-hover.svg");
    // }
  }

  .ml-border {
    border-right: solid 1px #afaba5 !important;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .skills-view {
    border: solid 1px #afaba5;
    border-radius: 5px;
    width: auto;
    height: auto;
  }
  .skills-view-popup {
    border: solid 1px #afaba5;
    border-radius: 5px;
    width: auto;
    height: auto;
    margin-left: 10px;
  }
  .link-text {
    color: #2b80fd;
    cursor: pointer;
    font-family: Capitana;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: right;
  }

  .view-link-text {
    color: #2b80fd;
    cursor: pointer;
    font-family: Capitana;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: right;
  }

  .card-title-text {
    font-family: Capitana;
    font-size: 16px;
    font-weight: 600 !important;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #2e2f2f;
  }
  .content-title {
    font-family: Capitana;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

    color: #2e2f2f;
  }
  .input-label {
    font-family: Capitana;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: left;
  }
  .card-label {
    font-family: Capitana;
    font-size: 14px;
    font-weight: 500;
    line-height: 8px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-left: 20px;
  }
  .icon-container {
    font-size: 1.5rem;
    margin-left: 2px;
  }

  .content-text {
    color: #2f2e2e;
    font-family: Capitana;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }

  .candidate-job-title {
    font-family: Capitana;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #2f2e2e;
  }
  .candidate-name {
    text-align: left;
    margin-left: 0px;
    font-family: Capitana;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #2f2e2e;
  }
  .candidate-label {
    font-family: Capitana;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #979797;
  }

  .candidate-primary-skill {
    color: #afaba5;
    font-family: Capitana;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.12px;
  }
  .edit-icon {
    cursor: pointer;
    height: 22px;
    width: 22px;
  }
  .icons {
    cursor: pointer;
    height: 18px;
    width: 18px;
  }
  .save-btn {
    border-radius: 4px;
    background: #2f479b;
    margin-top: 0px;
    height: 30px;
  }
  .close-btn {
    background: #6c757d !important;
    margin-top: 0px;
    height: 30px;
    border-radius: 4px;
  }
  .personal-sec-icon {
    margin-top: -10px;
    margin-left: 3px;
    height: 16px;
    width: 16px;
  }
  .profile-logo {
    height: 50px;
  }
  .personal-info-label {
    color: #afaba5;
    font-family: Capitana;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: -0.12px;
  }
  .card-p-text {
    color: #afaba5;
    font-family: Capitana;
    font-size: 13px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 16px;
    letter-spacing: -0.12px;
  }
  .card-p-text-black {
    color: #2e2f2f;
    font-family: Capitana;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }
  .div-box {
    border: solid 1px #ced4da !important;
    border-radius: 4px;
    padding: 8px;
  }
  .build-resume-box {
    min-height: 144px;
  }
  .nav-link {
    color: #545cd8;
    font-weight: 400;
    font-size: 14px;
  }
  .skills-remove {
    color: #545cd8;
    font-weight: 400;
    font-size: 14px;
  }
  .btn-text {
    font-family: Capitana;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
  }
  .skills-div {
    font-family: Capitana;
    border: 1px solid #afaba5;
    border-radius: 7px;
  }
  .ellipse {
    height: 40px;
    width: 40px;
    background-color: #ced4da;
    border-radius: 50%;
  }
  .pop-skills-div {
    font-family: Capitana;
    font-weight: 500 !important;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #2e2f2f;
    font-size: 12px !important;
  }
  .skills-view-text {
    width: auto;
    height: auto;
    font-family: Capitana;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #2f2e2e;
  }
  .skills-exp-text {
    font-family: Capitana;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #979797;
  }
  .file-info {
    font-family: Capitana;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #979797;
  }
  .success-close-btn {
    width: 60px !important;
    height: 30px;
    background-color: #2f2e2e;
  }

  .accept-modal-btn {
    background-color: #2f479b !important;
    width: 60px !important;
    height: 30px;
  }

  .modal-dialog-align {
    position: absolute;
    top: 25%;
    left: 0%;
    bottom: 25%;
    transform: translate(-50%, -50%);
  }
  .modal-dialog-reject-align {
    position: absolute;
    top: 20%;
    left: 0%;
    bottom: 25%;
    transform: translate(-50%, -50%);
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.personal-information {
  .location-dropdown {
    z-index: 11;
  }
  .error-class {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #d92550;
  }
  .card-title-text {
    font-family: Capitana;
    font-size: 16px;
    font-weight: 600 !important;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #2e2f2f;
  }
  .input-label {
    font-family: Capitana;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: left;
  }
  .divider {
    width: 350px;
    height: 1px;
    background: #ced4da;
  }
  .required-icon {
    color: #ff0000;
  }
  .async-border-red {
    .css-13cymwt-control {
      border-color: #d92550 !important;
    }
  }

  .async-error-text {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #d92550;
  }
  .field-input {
    height: 35px;
    align-items: flex-start;
    border-radius: 2px;
    border: 1px solid #ced4da;
    background: #fff;
  }
  .save-btn {
    border-radius: 4px;
    background: #2f479b;
    margin-top: 0px;
    height: 30px;
  }
  .close-btn {
    background: #6c757d !important;
    margin-top: 0px;
    height: 30px;
    border-radius: 4px;
  }
  .placeholder-text {
    font-family: Capitana;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 114.286% */
    letter-spacing: -0.14px;
  }
}
.resume-details {
  .div-box {
    border: solid 1px #ced4da !important;
    border-radius: 4px;
    padding: 8px;
  }
  .link-text {
    color: #2f479b;
    cursor: pointer;
    font-weight: 500;
  }

  .save-btn {
    border-radius: 4px;
    background: #2f479b;
    margin-top: 0px;
    height: 30px;
  }
  .close-btn {
    background: #6c757d !important;
    margin-top: 0px;
    height: 30px;
    border-radius: 4px;
  }
  .upload-btn {
    background-color: #2f479b;
  }
  .info-text {
    font-family: Capitana;
    font-size: 12px;
    font-style: normal;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #2e2f2f;
  }
  .input-label {
    font-family: Capitana;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: left;
  }
  .success-modal-text {
    font-size: 25px !important;
    font-weight: 600 !important;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color: #2f479b !important;
  }
  .card-label {
    font-family: Capitana;
    font-size: 14px;
    font-weight: 500;
    line-height: 8px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-left: 20px;
  }
  .card-title-text {
    font-family: Capitana;
    font-size: 16px;
    font-weight: 600 !important;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #2f479b;
  }
}
.profile-pdf {
  font-family: capitana, sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  line-height: 150%;
  h1 {
    font-size: 2em;
    color: #2f2e2e;
  }
  h2 {
    font-size: 1.5em;
    color: #2f2e2e;
  }
  h3 {
    font-size: 1.17em;
    color: #2f2e2e;
    font-weight: 600;
  }
  h4 {
    font-size: 16px;
    color: #2f2e2e;
  }
  p {
    margin: 0;

    font-weight: 400;
    color: #2f2e2e;
  }
}
.react-date-picker-profile {
  .react-datepicker__month-container {
    float: left;
    min-width: 200px !important;
  }
  .react-datepicker__month {
    margin: 0.5rem;
    text-align: center;
    font-size: 15px;
    font-family: "capitana";
    cursor: pointer;
  }
}

input[type="month"]::before {
  content: attr(placeholder) !important;
  color: #aaa;
  width: 100%;
}

input[type="month"]:focus::before,
input[type="month"]:active::before {
  content: "";
  width: 0%;
}
