.profile-view {
  .filter-info-text {
    font-family: Capitana;
    font-size: 10px;
    font-style: normal;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #2e2f2f;
  }
  .filter-error-msg {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #d92550;
  }
  .location-dropdown {
    z-index: 11;
  }
  .loader {
    margin: 0 auto !important;
    float: none;
  }
  .profile-img {
    min-width: 100px !important;
    min-height: 130px !important;
    margin: 0 1rem 0 0 !important;
  }
  .ml-border {
    border-right: solid 1px #afaba5 !important;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .skills-view {
    border: solid 1px #afaba5;
    border-radius: 5px;
    width: auto;
    height: 35px;
  }
  .skills-view-popup {
    border: solid 1px #afaba5;
    border-radius: 5px;
    width: auto;
    height: 35px;
    margin-left: 10px;
  }
  .link-text {
    color: #2b80fd;
    cursor: pointer;
    font-family: Capitana;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: right;
  }

  .view-link-text {
    color: #2b80fd;
    cursor: pointer;
    font-family: Capitana;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: right;
  }

  .card-title-text {
    font-family: Capitana;
    font-size: 16px;
    font-weight: 600 !important;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #2e2f2f;
  }
  .content-title {
    font-family: Capitana;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

    color: #2e2f2f;
  }
  .input-label {
    font-family: Capitana;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: left;
  }
  .card-label {
    font-family: Capitana;
    font-size: 14px;
    font-weight: 500;
    line-height: 8px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-left: 20px;
  }
  .icon-container {
    font-size: 1.5rem;
    margin-left: 2px;
  }

  .content-text {
    color: #2f2e2e;
    font-family: Capitana;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }

  .candidate-job-title {
    font-family: Capitana;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #2f2e2e;
  }
  .candidate-name {
    text-align: left;
    margin-left: 0px;
    font-family: Capitana;
    font-size: 25px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #2f2e2e;
  }
  .candidate-label {
    font-family: Capitana;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #979797;
  }

  .candidate-primary-skill {
    color: #afaba5;
    font-family: Capitana;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.12px;
  }
  .edit-icon {
    cursor: pointer;
    height: 22px;
    width: 22px;
  }
  .icons {
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: -10px;
  }
  .save-btn {
    border-radius: 4px;
    background: #2f479b;
    margin-top: 0px;
    height: 30px;
  }
  .close-btn {
    background: #6c757d !important;
    margin-top: 0px;
    height: 30px;
    border-radius: 4px;
  }
  .personal-sec-icon {
    margin-top: -10px;
    margin-left: 3px;
    height: 16px;
    width: 16px;
  }
  .profile-logo {
    height: 50px;
  }
  .personal-info-label {
    color: #afaba5;
    font-family: Capitana;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: -0.12px;
  }
  .card-p-text {
    color: #afaba5;
    font-family: Capitana;
    font-size: 12px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 16px;
    letter-spacing: -0.12px;
  }
  .card-p-text-black {
    color: #2e2f2f;
    font-family: Capitana;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }
  .div-box {
    border: solid 1px #afaba5 !important;
    border-radius: 5px;
  }
  .nav-link {
    color: #545cd8;
    font-weight: 400;
    font-size: 14px;
  }
  .btn-text {
    font-family: Capitana;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
  }
  .skills-div {
    font-family: Capitana;
    border: 1px solid #afaba5;
    border-radius: 7px;
  }
  .ellipse {
    height: 40px;
    width: 40px;
    background-color: #ced4da;
    border-radius: 50%;
  }
  .pop-skills-div {
    font-family: Capitana;
    font-weight: 500 !important;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #2e2f2f;
    font-size: 12px !important;
  }
  .skills-view-text {
    font-family: Capitana;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #2f2e2e;
  }
  .skills-exp-text {
    font-family: Capitana;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #979797;
  }
  .file-info {
    font-family: Capitana;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #979797;
  }
  .success-close-btn {
    width: 60px !important;
    height: 30px;
    background-color: #2f2e2e;
  }

  .accept-modal-btn {
    background-color: #2f479b !important;
    width: 60px !important;
    height: 30px;
  }

  .modal-dialog-align {
    position: absolute;
    top: 25%;
    left: 0%;
    bottom: 25%;
    transform: translate(-50%, -50%);
  }
  .modal-dialog-reject-align {
    position: absolute;
    top: 20%;
    left: 0%;
    bottom: 25%;
    transform: translate(-50%, -50%);
  }
}

.personal-information {
  .location-dropdown {
    z-index: 11;
  }
  .error-class {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #d92550;
  }
  .card-title-text {
    font-family: Capitana;
    font-size: 16px;
    font-weight: 600 !important;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #2e2f2f;
  }
  .input-label {
    font-family: Capitana;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: left;
  }

  .required-icon {
    color: #ff0000;
  }

  .field-input {
    height: 35px;
    align-items: flex-start;
    border-radius: 2px;
    border: 1px solid #ced4da;
    background: #fff;
    color: #afaba5;
  }
  .save-btn {
    border-radius: 4px;
    background: #2f479b;
    margin-top: 0px;
    height: 30px;
  }
  .close-btn {
    background: #6c757d !important;
    margin-top: 0px;
    height: 30px;
    border-radius: 4px;
  }
  .placeholder-text {
    color: #afaba5;
    font-family: Capitana;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 114.286% */
    letter-spacing: -0.14px;
    color: #afaba5;
  }
}
.resume-details {
  .div-box {
    border: solid 1px #afaba5 !important;
    border-radius: 5px;
  }
  .link-text {
    color: #2f479b;
    cursor: pointer;
    font-weight: 500;
  }

  .save-btn {
    border-radius: 4px;
    background: #2f479b;
    margin-top: 0px;
    height: 30px;
  }
  .close-btn {
    background: #6c757d !important;
    margin-top: 0px;
    height: 30px;
    border-radius: 4px;
  }
  .upload-btn {
    background-color: #2f479b;
  }
  .info-text {
    font-family: Capitana;
    font-size: 12px;
    font-style: normal;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #2e2f2f;
  }
  .input-label {
    font-family: Capitana;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: left;
  }
  .success-modal-text {
    font-size: 25px !important;
    font-weight: 600 !important;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color: #2f479b !important;
  }
  .card-label {
    font-family: Capitana;
    font-size: 14px;
    font-weight: 500;
    line-height: 8px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-left: 20px;
  }
  .card-title-text {
    font-family: Capitana;
    font-size: 16px;
    font-weight: 600 !important;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #2f479b;
  }
}
