.company-logo{
    width: 150px;
    height: 40px;
    border-style: solid;
    border-color: grey;
    border-radius: 5px;
}

.logo-background{
    background-color: #FFFFFF;
}

.mr-10{
    margin-right: 10px;
}