.company-logo{
    width: 150px;
    height: 40px;
    border-style: solid;
    border-color: grey;
    border-radius: 5px;
}

.logo-background{
    background-color: #FFFFFF;
}

.mr-10{
    margin-right: 10px;
}

.row-count{
    color: #2F479B !important;
    font-weight: 500 !important;
    padding-left: 1rem !important;
}