.job-detail-cont {
  .forms-wizard li:hover {
    color: #363636;
  }
  .forms-wizard li {
    color: #6c757d;
  }
  @media (max-width: 768px) {
    .forms-wizard {
      min-width: 600px;
      width: auto;
    }
    .forms-wizard-alt {
      max-width: 430px !important;
      overflow: auto;
    }
  }
  .forms-wizard-alt .forms-wizard li em {
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-indent: -999rem;
    border: #fff solid 2px;
    margin: 0px auto 0;
  }
  .forms-wizard li.form-wizard-step-done::after,
  .forms-wizard li.form-wizard-step-done::before {
    margin-top: -1rem;
    background: #2f479b;
  }
  .forms-wizard li.form-wizard-step-done em {
    background: #2f479b;
    overflow: hidden;
  }
  .count-details {
    font-size: 13px;
  }
  span {
    color: var(--Font-dark-grey, #2f2e2e);
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
    letter-spacing: -0.13px;
  }

  @media (max-width: 1400px) {
    span {
      font-size: 11px;
    }

    .count-details {
      font-size: 11px;
    }
  }

  @media (max-width: 1200px) {
    span {
      font-size: 9px;
    }

    .count-details {
      font-size: 9px;
    }
  }

  .card-footer {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .candidate-profile-prompt{
    color: var(--Font-dark-grey, #2F2E2E);
    text-align: center;
    font-size: 21px;
    font-style: italic;
    font-weight: 500;
    line-height: 150%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.close-job-popup{
  .reject-reason-text {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color: #2f2e2e;
  }
  .reject-modal-btn {
    background-color: #2f479b !important;
    width: auto !important;
  }
}
  .btn-mute{
      color: #fff;
      background-color: #545cd8;
      border-color: #545cd8;
      opacity: 0.65 !important;
  }